/*general variable */
:root {
  --BKGCOLOR: radial-gradient(circle at bottom, #3506b6 -95%, #04000d 98%);
  --SITEFONT: #ffffff;
  --font: "roboto", sans-serif;
}

/*general style */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: smooth;
  color: var(--SITEFONT);
  font-family: var(--font);
}

/* body style*/
body {

background: #463ea3;
background: radial-gradient(circle,rgb(12, 4, 101) 1%, rgba(21, 5, 74, 1) 39%, rgba(0, 0, 0, 1) 69%);}

/*navigation style */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20em;
  margin-top: 1em;
}
.icon {
  display: flex;
  flex-direction: row;
  margin: 1em 0 0 4em;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;

  gap: 1em;
}

/*main text */
.banner {
  gap: 0;
}

.letters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  width: 80%;
  gap: 0px;
}

h1 {
  grid-column: span 2 / span 1;
  font-size: 8em;
  padding: 0.5em 0 0 1em;
  font-weight: 360;
  width: 5.5em;
}

h2 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 8em;
  padding: 0;
  font-weight: 360;
  width: 5.5em;
}

.banner p {
  font-size: 1.3em;
  text-align: left;
  padding-top: 6em;
  margin-left: 1em;
  width: 90%;
  height: 40%;
}

/*main images */
.maincontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 4em;
}

.workerimg {
  max-width: auto;
  max-height: 240px;
}
#worker0 {
  zoom: 126%;
}
.workers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
.info {
  font-size: 2em;
  font-weight: 400;
  text-align: start;
  padding: 8px;
}

.info p {
  padding: 10% 0;
  font-size: 20px;
  margin: 0;
  height: 10px;
}

.courses {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 400px;
  margin: 4em auto;
  background-color: none;

  h1 {
    font-size: 6em;
    width: 100%;
    margin-top: 0.5em;
    padding: 0;
      font-weight: 360;
  }
}
.coursepanel img {
  width: 120px;
}
.coursepanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  

  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 2em;
    margin: 2em 0;
    border: 1px solid;
    border-radius: 24px;
    border-bottom-color: #3506b6;
    border-right-color: #3d04db;
    border-top-color: #241151;
    border-left-color: #241151;
    background-color: rgb(0, 20, 20, 80%);

    span {
      font-size: 1.5em;
      margin-bottom: 0.8em;
      font-weight: 400;
    }

    p {
      font-size: 0.9em;
      padding: 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 20% 0 4% 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  background-color: #fafafa;
  color: #000;
  border-style: none;
  font-weight: 700;
  font-size: 14px;
}
#arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}
.plataforms img {
  margin: 0.5em;
}
.plataforms {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  word-break: none;
  gap: 2em;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 12em;
  }
}

/*responsividade para telas menores*/
@media screen and (max-width: 700px) {
  html {
    padding: 0;
    margin: 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    gap: 0;

    .icon {
      margin: 1em 0;
    }
    .links {
      font-size: 1.2em;
    }
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .letters {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.5em;
    width: 100%;

    h1,
    h2 {
      padding: 0;
      width: 100%;
    }
    p {
      padding: 0 2em;
      font-size: 2em;
      text-align: center;
      margin: 1em 0 0 0;
      width: 100%;
    }
  }

  .maincontent img {
    width: 60%;
    margin-bottom: 1em;
    object-fit: contain;
  }
  .maincontent {
    display: flex;
    flex-direction: row;
    margin: 2em 0 0 0;

    .workers {
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 1em 0 0 0;

      #worker0 {
        width: 70%;
      }

      #if {
        font-size: 1.9em;
        padding: 0 1em;
      }
      p {
        width: 100%;
        margin-bottom: 2em;
        padding: 0;
      }
    }

  }

.courses{
  display: none;
}



  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    .plataforms {
      flex-direction: column;
      padding: 0;
      gap: 0;
      margin-top: 1em;
    }
  }
}
